* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #865439;
    font-family: 'Comic Sans MS', fantasy;
    font-size: 16px;
  }
  
  header {
    font-family: 'Brush Script MT', cursive;
    font-size: 24px;
    background-color: #1C0A00;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  }
  
  .brand {
    margin: 0;
    color: white;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  button[type="submit"] {
    border: none;
    background-color: #361500;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 16px;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    text-transform: uppercase;
    letter-spacing: 0.15ch;
    font-weight: bold;
    color: white;
  }

  .card {
    background-color: #FFEBC9;
    padding: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
  }